 /* Styly pro rozvrh */
 table {
    /* border-collapse: collapse; */
    /* width: 100%; */
    max-width: 73%;
    margin: auto;
    /* float: left; */
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    padding-bottom: 0;
  }

  th {
    background-color: #f2f2f2;
  }

  /* dialog */
  .dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }


  /* checkbox */
  /* Skryjeme výchozí vzhled checkboxu */
  select {
    /* display: none; */
    visibility: hidden;
    float: right;
    position: relative;
    top: 20px;
  }

  /* Základní styl pro element */
table p {
    /* width: 100px;
    height: 100px; */
    /* background-color: #3498db; */
    font-weight: bold;
    color: #fff;
    text-align: center;
    /* line-height: 100px; */
    transition: transform 0.3s ease; /* Přechodová vlastnost pro transformaci */
  }
  
  /* Styl pro element při hover efektu */
  p.class:hover {
    transform: scale(1.5); /* Použití transformace pro zvětšení elementu */
  }

  .clause {
    font-size: 18px;
    margin: 0;
  }

  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    
  }