<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <table>
        <% for(var i=0; i < results.length; i++) { %>
          <tr>
            <td>
              <%= results[i].lname %>
            </td>
            <td>
              <%= results[i].fname %>
            </td>
            <td>
              <button>btn</button>
            </td>
          </tr>
          <% } %>
      </table>
</body>
</html>