<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/script.js"></script>
</head>
<body>
  <!-- <h1><%= data.message %></h1> -->
  <header>
    <h1>Superprojekt ISS-CHeb</h1>
  </header>
  <button><a href="/users">výpis</a></button>
  <button><a href="/newuser">nový</a></button>
  <button><a href="/chat">chat</a></button>
  <button><a href="/galery">galerie</a></button>
  
  
  
</body>
</html>