<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newtimetable</title>
    <style>
        div {
            width: 49%;
            border: 1px solid black;
            float: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        td:first-child {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div>
        <form action="/newtimetable" method="POST">
        <label for="hours">vyberte den:</label>
        <select name="day">

            <% data.days.forEach(value=> { %>
                <option value="<%= value %>">
                    <%= value %>
                </option>
                <% }); %>
        </select>

        <label for="hours">vyberte hodinu:</label>
        <select name="hour">

            <% data.hours.forEach(value=> { %>
                <option value="<%= value %>">
                    <%= value %>
                </option>
                <% }); %>
        </select>

        <label for="hours">napište třídu:</label>

        <input type="text" id="hours" name="class"><br><br>
        <input type="submit" value="Odeslat">
        </form>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pondělí</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>


                </tr>
                <tr>
                    <td>Úterý</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>Středa</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>Čtvrtek</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>Pátek</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                    <td>A</td>
                    <td>F</td>
                    <td>F</td>
                    <td>Ch</td>
                    <td>D</td>
                    <td>M</td>
                </tr>
                <!-- Další řádky pro ostatní hodiny -->
            </tbody>
        </table>

    </div>



    <!-- <label for="cars">Choose a car:</label> -->

    <!-- <select id="cars">
  <option value="1">Volvo</option>
  <option value="2">Saab</option>
  <option value="3">Opel</option>
  <option value="4">Audi</option>
</select> -->
</body>

</html>
<!-- tady si jen kazdej vytvori svuj rozvrh, nejedna se o klasicky rozvr, nezapomen -->
<!-- zada pouze ze 1. hodinu ma matiku s tridou 2.it a to je vsechno -->