<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Newuser</title>
</head>
<body>
    <header>
        <h1>Superprojekt ISS-CHeb</h1>
      </header>
    <button><a href="/">Rozcestník</a></button>
    <button><a href="/users">výpis</a></button>
<form action="/newuser" method="POST">
    <label for="name">Jméno:</label>
    <input type="text" id="fname" name="fname" required>
  
    <label for="lname">Příjmení:</label>
    <input type="text" id="lname" name="lname" required>
  
    <!-- <label for="password">Password:</label>
    <input type="password" id="password" name="password" required> -->
  
    <button type="submit">Vytvoř uživatele</button>
  </form>
  
</body>
</html>