<!DOCTYPE html>
<html>
<head>
  <title>School Schedule</title>
</head>
<body>
  <h1>School Schedule</h1>
  <table>
    <tr>
      <th>Day</th>
      <th>Period 1</th>
      <th>Period 2</th>
      <th>Period 3</th>
      <th>Period 4</th>
    </tr>
    <% scheduleData.days.forEach((day, index) => { %>
      <tr>
        <td><%= day %></td>
        <% scheduleData.timetable[index].forEach((subject) => { %>
          <td><%= subject %></td>
        <% }); %>
      </tr>
    <% }); %>
  </table>
</body>
</html>
