<!DOCTYPE html>
<html>

<head>
  <title>Rozvrh hodin</title>
  <style>
    div {
      width: 49%;
      border: 1px solid black;
      float: left;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    td:first-child {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1>Rozvrh hodin</h1>
  <button><a href="/">menu</a></button>
  <h2>Lichý</h2>
  <table>
    <tr>
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>

    </tr>
    <% if(results.length===0) { %>
      <h1>Databáze je prázdná</h1>
      <% } else {%>


        <% let count=0 %>
        
          <tr>
            <% results.forEach((item, index)=> { %>
              
                <% count ++ %>
                  <td id="<%= item.id %>" day="<%= item.day %>" hour="<%= item.hour %>" onclick=change(event)>
                    <%= item.data %>
                  </td>
                  <% if(count==15) {  %>
          </tr>
          <tr>
            <%count=0}%>
            <% if(index === 74){%>
</tr><td>Sudý</td><tr>
              <% } %>

              <% }) %>
                <% } %>

          </tr>




  </table>

  
  <script>
    function change() {
      console.log(event.target)

      let data = prompt("Zadejte předmět")

      // URL API, kam bude odeslán požadavek
      const apiUrl = '/timetableupdate';

      // Data, která budou odeslána jako součást požadavku (může být objekt nebo FormData)
      const requestData = {
        id: event.target.id,
        data: data
      };

      // Konfigurace pro POST požadavek
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json' // Změňte na 'application/x-www-form-urlencoded', pokud odesíláte FormData
        },
        body: JSON.stringify(requestData) // Změňte na new URLSearchParams(requestData) pro 'application/x-www-form-urlencoded'
      };

      // Odeslání požadavku pomocí funkce fetch
      fetch(apiUrl, requestOptions)
        .then(response => {
          if (!response.ok) {
            throw new Error('Chyba při komunikaci s API.');
          }
          return response.json();
        })
        .then(data => {
          console.log('Úspěšně zpracována odpověď z API:', data);
          // Zde můžete provést další zpracování dat z API
        })
        .catch(error => {
          console.error('Chyba:', error);
          // Zde můžete zpracovat chybu a poskytnout zpětnou vazbu uživateli
        });
        location.reload()
    }
    
  </script>
</body>

</html>